.d-header .icons .badge-notification {
    top: 0px;
}

.header-dropdown-toggle.active {
    background-color: $quaternary
}
.header-dropdown-toggle.active>a {
    background-color: $quaternary !important;
}
