.d-header .icons .badge-notification {
    top: 0px;
}

.header-dropdown-toggle.active {
    background-color: var(--quaternary)
}
.header-dropdown-toggle.active>a {
    background-color: var(--quaternary) !important;
}
.header-dropdown-toggle.active svg {
    color: var(--header_background) !important;
}
